  /* Customizing the carousel card. Show the stepper only on hover  */
  .carouselCard .MuiMobileStepper-root {
    opacity: 0;
    transition: all ease 1000ms;
  }

  .carouselCard:hover .MuiMobileStepper-root {
    opacity:1
  }

  .carouselCard:hover .MuiMobileStepper-dotActive {
    background-color: #fff
  }